<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Roberto Marcos Almazán Muñoz - roberto.almazan.m@gmail.com">
<!--Link para poner un ícono a la pestaña del navegador-->
 <link rel="icon" type="image/svg" th:href="@{/img/colegio.svg}" />

<!-- Bootstrap -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<!-- CSS propio -->
<link rel="stylesheet" th:href="@{/css/estilos.css}">

<title>Cursos | Academia</title>

</head>
<body class="bg-light">

	<!-- NAVBAR -->
	<div th:replace="~{fragments/navbar :: navbar}"></div>

	<!-- CONTENIDO -->
	<main class="container mt-5">
		<!-- Encabezado -->
		<div
			class="d-flex justify-content-between
                    align-items-center mb-4">
			<h1>Cursos</h1>
			<a sec:authorize="hasRole('Administrador')" th:href="@{/cursos/nuevo}"
				class="btn btn-primary"> Nuevo curso </a>
		</div>

		<form th:action="@{/cursos}" method="get" class="row g-2 mb-4 ">
			<!-- Campo búsqueda -->
			<div class="col-md-8">
				<input type="text" id="buscar" name="buscar" th:value="${buscar}"
					class="form-control" placeholder="Buscar por nombre o semestre...">
			</div>
			<!-- Botón buscar -->
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary w-100">
					<i class="bi bi-search"></i> Buscar
				</button>
			</div>

			<!-- BOTÓN LIMPIAR -->
			<div class="col-md-2">
				<a th:href="@{/cursos}" class="btn btn-secondary w-100"> <i
					class="bi bi-x-circle"></i> Limpiar
				</a>
			</div>
		</form>

		<!-- MENSAJE SIN RESULTADOS -->
		<div
			th:if="${#lists.isEmpty(cursos) and buscar != null and !buscar.isBlank()}"
			class="alert alert-warning">
			<i class="bi bi-exclamation-triangle"></i> No se encontraron cursos
			para: <strong th:text="${buscar}"></strong>
		</div>

		<!-- MENSAJE CUANDO NO EXISTEN CURSOS  -->
		<div
			th:if="${#lists.isEmpty(cursos) and (buscar == null or buscar.isBlank())}"
			class="alert alert-info">
			<i class="bi bi-info-circle"></i> No existen cursos registrados.
		</div>

		<!-- TABLA -->
		<div class="card shadow">
			<div class="card-body">
				<div class="table-responsive">
					<table
						class="table table-striped
                               table-hover align-middle">
						<thead class="table-dark">
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Semestre</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<!-- RECORRER CURSOS -->
							<tr th:each="curso : ${cursos}">
								<!-- ID -->
								<td th:text="${curso.id}">1</td>
								<!-- Nombre -->
								<td th:text="${curso.nombre}">Cálculo I</td>
								<!-- Semestre -->
								<td th:text="${curso.semestre}">Primer semestre</td>
								<!-- ACCIONES -->
								<td class="text-center">
									<!-- Ver --> <a class="btn btn-primary btn-sm my-1"
									th:href="@{/cursos/ver/{id}(id=${curso.id})}"> <i
										class="bi bi-eye"></i>
								</a> <!-- Editar --> <a sec:authorize="hasRole('Administrador')"
									th:href="@{/cursos/editar/{id}(id=${curso.id})}"
									class="btn btn-warning btn-sm my-1"> <i
										class="bi bi-pencil"></i>
								</a> <!-- Eliminar -->
									<button sec:authorize="hasRole('Administrador')" type="button"
										class="btn btn-danger btn-sm my-1 btn-eliminar-curso"
										th:data-id="${curso.id}" th:data-nombre="${curso.nombre}">
										<i class="bi bi-trash-fill"></i>
									</button>
								</td>
							</tr>
							<!-- SIN REGISTROS -->
							<tr th:if="${#lists.isEmpty(cursos)}">
								<td colspan="4" class="text-center text-muted">No existen
									cursos registrados.</td>
							</tr>
						</tbody>
					</table>
					<!-- FORMULARIO ELIMINAR CURSO -->
					<form id="formEliminarCurso" method="post" style="display: none;">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}">
					</form>
				</div>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<!-- BOOTSTRAP -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
		
	</script>

	<!-- SWEETALERT2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11">
		
	</script>

	<script th:if="${mensaje != null}" th:inline="javascript">
        Swal.fire({
            icon: 'success',
            title: 'Operación realizada',
            text: /*[[${mensaje}]]*/ '',
            confirmButtonText: 'Aceptar'
        });
    </script>
    
    <script th:if="${error != null}" th:inline="javascript">
        Swal.fire({
            icon: 'warning',
            title: 'Problemas operacionales',
            text: /*[[${error}]]*/ '',
            confirmButtonText: 'Aceptar'
        });
    </script>


	<!-- JAVASCRIPT PROPIO -->
	<script th:src="@{/js/app.js}"></script>
</body>

</html>